/* Table layout on any screen smaller than 760px and also iPads specifically	*/
@media only screen and (max-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    word-break: break-word;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    background-color: white;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  }

  td {
    /* Behave like a "row" */
    border: none;
    /* border-bottom: 1px solid #eee; */
    position: relative;
    padding: 0 1% 0 30% !important;
    min-height: 29px;
  }

  .table td:first-child {
    border-top: none;
  }

  td:before {
    /* Mimic table header */
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
  }

  /* Label the data */
  td:nth-of-type(1):before {
    content: 'Year';
  }
  td:nth-of-type(2):before {
    content: 'Date';
  }
  td:nth-of-type(3):before {
    content: 'Program';
  }
  td:nth-of-type(4):before {
    content: 'Location';
  }
  td:nth-of-type(5):before {
    content: 'Venue';
  }
  td:nth-of-type(6):before {
    content: 'Participants';
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0 !important;
}
div.position-sticky {
  top: -1px;
  background-color: #fbfaf2;
}

.z-index1 {
  z-index: 1;
}

@media (min-width: 1025px) {
  table {
    display: block;
    margin: 0 auto;
    font-size: 14px;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 60px;
    padding: 6px 16px;
    box-sizing: border-box;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 140px;
    padding: 6px 16px;
    box-sizing: border-box;
    word-break: break-word;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: calc((100vw - 600px - 32px) / 2);
    padding: 6px 16px;
    box-sizing: border-box;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 200px;
    padding: 6px 16px;
    box-sizing: border-box;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 200px;
    padding: 6px 16px;
    box-sizing: border-box;
  }

  th:nth-child(6),
  td:nth-child(6) {
    width: calc((100vw - 600px - 32px) / 2);
    padding: 6px 16px;
    box-sizing: border-box;
  }
}
