/* table {
  z-index: -2;
}
thead,
tbody,
th,
td,
tr {
  z-index: -1;
} */

/* Table layout on any screen smaller than 760px and also iPads specifically	*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    word-break: break-word;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    background-color: white;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    /* border-bottom: 3px solid #ccc; */
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  }

  /* tr:nth-child(odd) {
    background: whitesmoke;
  } */

  td {
    /* Behave like a "row" */
    border: none;
    /* border-bottom: 1px solid #eee; */
    position: relative;
    padding: 0 1% 0 35% !important;
  }

  .table td:first-child {
    border-top: none;
  }

  td:before {
    /* Mimic table header */
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  /* Label the data */
  td:nth-of-type(1):before {
    content: 'Year';
  }
  td:nth-of-type(2):before {
    content: 'Date';
  }
  td:nth-of-type(3):before {
    content: 'Program';
  }
  td:nth-of-type(4):before {
    content: 'Location';
  }
  td:nth-of-type(5):before {
    content: 'Participants';
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0 !important;
}
div.position-sticky {
  top: -1px;
  background-color: #fbfaf2;
  /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1); */
}

.z-index1 {
  z-index: 1;
}
